
@keyframes typing {
  from { width: 0; 
  max-width: 0;
  }
  to { width: 100%;
  max-width: 100%; }
}

.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the text is not visible outside the containing element */
  white-space: nowrap; 
  letter-spacing: 0.1em; /* Add some space between characters */
  animation: typing 3s steps(20, end) forwards;
}
.cursor {
  display: inline-block;
  width: 0.2em;
  height: 12px;
  background-color: orange;
  animation: blink 1s infinite;
  margin-left: 5px;

}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}